/* Thanks to Zell Liew for this reset! */
/*******************
 Box Sizing
 *******************/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/*******************
 Core body defaults
 @see https://hankchizljaw.com/wrote/a-modern-css-reset/
 *******************/
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/****************************
 Generic Margins and Paddings
 ****************************/
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
figcaption,
hr,
dl,
dd {
  margin: 0;
  padding: 0;
}

/*******************
 Lists
 *******************/
ul {
  list-style: none;
}

/*******************
 Forms and buttons
 *******************/
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

/* I usually expand input and textarea to full-width */
input[type="text"],
textarea {
  width: 100%;
}

/* More friendly border */
input,
textarea,
button {
  border: 1px solid gray;
}

/* Some defaults for one-liner buttons */
button {
  padding: 0.75em 1em;
  line-height: inherit;
  border-radius: 0;
  background-color: transparent;
}

button * {
  pointer-events: none;
}

/***********************************
 Easy responsive for media elements
 ***********************************/
img,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%;
}

svg {
  max-width: 100%;
}

/*******************
 Useful table styles
 *******************/
table {
  table-layout: fixed;
  width: 100%;
}

/*******************
 The hidden attribute
 *******************/
[hidden] {
  opacity: 0;
  visibility: hidden;
}

/*******************
 Noscript
 *******************/
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}

/*******************
 Tabindex
 *******************/
[tabindex="-1"] {
  outline: none !important;
}

/*******************
 Remove animations and transitions
 @see https://hankchizljaw.com/wrote/a-modern-css-reset/
 *******************/
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*******************
 * Screen-ready only class to hide content visually
 * Solution by Joe Watkins.
 * @see https://zellwk.com/blog/hide-content-accessibly/
 *******************/
.sr-only {
  position: absolute;
  width: 1px;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
button, .card p {
  font-family: 'Raleway', sans-serif;
}

body,
p,
ul,
li {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  /* ideal font color - thx Andy Budd */
  color: var(--text__color);
}

b, strong {
  font-weight: 700;
}

h1 {
  margin-bottom: 16px;
  max-width: 28ch;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}

@media screen and (max-width: 750px) {
  h1 {
    text-align: center;
  }
}

h3 {
  font-size: 2rem;
}

p {
  margin-bottom: 20px;
}

/* ======== colors ======== */
/* Primary */
:root {
  --primary__vry-drk-blue: hsl(243, 87%, 12%);
  --primary__desaturated-blue: hsl(238, 22%, 44%);
  /* accent */
  --accent__bright-blue: hsl(224, 93%, 58%);
  --accent__moderate-cyan: hsl(170, 45%, 43%);
  /* neutral */
  --neutral__lite-grayish-blu: hsl(240, 75%, 98%);
  --neutral__lite-gray: hsl(0, 0%, 75%);
  /* text */
  --text__color: hsla(203, 10%, 26%, 1.00);
  --link-green: hsla(169, 39%, 41%, 1.00);
  --lrg-gryblu: hsla(247, 10%, 39%, 1.00);
}

/* ========= Breakpoints ======= */
/* mobile:  375px  */
/* desktop: 1440px */
main {
  padding: 0 5rem;
}

@media screen and (max-width: 750px) {
  main {
    padding: 0 50px;
    -webkit-transition: padding .3s ease-out;
    transition: padding .3s ease-out;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 86px;
  max-width: 100vw;
  margin: 0 calc(-50vw + 50%);
  padding: 65px 80px;
}

@media screen and (max-width: 750px) {
  header {
    padding: 45px 50px;
    -webkit-transition: padding .3s ease-out;
    transition: padding .3s ease-out;
  }
}

header img {
  width: 165px;
  height: auto;
}

@media screen and (max-width: 750px) {
  header img {
    width: 160px;
    -webkit-transition: width .5s ease-out;
    transition: width .5s ease-out;
  }
}

header ul {
  margin-left: auto;
}

header ul li {
  display: inline-block;
  margin-left: 50px;
}

@media screen and (min-width: 676px) and (max-width: 750px) {
  header ul li {
    font-size: 1.5rem;
    margin-left: 30px;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
  }
}

@media screen and (max-width: 675px) {
  header ul li {
    margin-left: 25px;
    font-size: 1.0rem;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
  }
}

header ul li a {
  text-decoration: none;
  color: var(--text__color);
}

header ul li a:hover {
  color: var(--accent__bright-blue);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 175px;
}

@media screen and (max-width: 1100px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 105px;
    margin-bottom: 25px;
  }
}

.hero section {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-width: 45vw;
  margin-right: 20px;
}

@media screen and (max-width: 1100px) {
  .hero section {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: unset;
  }
}

.hero section h1 {
  margin-top: 5rem;
  max-width: 22ch;
  margin-right: auto;
  margin-left: auto;
}

.hero section p {
  max-width: 59ch;
}

@media screen and (max-width: 1100px) {
  .hero section p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.hero img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 50vw;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 1100px) {
  .hero img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 100%;
  }
}

.curve {
  max-width: 100vw;
  margin: 0 calc(-50vw + 50%);
}

.about__container {
  max-width: 100vw;
  margin: 0 calc(-50vw + 50%);
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--neutral__lite-grayish-blu);
  padding: 0 5rem;
}

@media screen and (max-width: 1100px) {
  .about__content {
    padding: 0 40px 100px 40px;
    -webkit-transition: padding .3s ease-out;
    transition: padding .3s ease-out;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__content h1 {
    margin-bottom: 3rem;
  }
}

.about__content p {
  max-width: 58ch;
}

@media screen and (max-width: 1100px) {
  .about__content p {
    max-width: unset;
    font-size: 1.7rem;
    color: var(--lrg-gryblu);
    margin-bottom: 35px;
  }
}

.about__content p a {
  color: var(--link-green);
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: .4rem;
}

.about__content p a::after {
  display: inline-block;
  content: "";
  width: 23px;
  height: 18px;
  margin-bottom: -2px;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: 4px;
}

.about__content img {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  max-width: 45%;
  height: auto;
  margin-left: 20px;
}

@media screen and (max-width: 1100px) {
  .about__content img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 100%;
    height: auto;
    padding: 5rem 0;
  }
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 50%;
  padding-bottom: 110px;
}

@media screen and (max-width: 1100px) {
  .content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 100%;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content h1 {
    font-size: 2rem;
  }
}

.card {
  width: 360px;
  height: 220px;
  padding: 35px;
  margin-top: 40px;
  background-color: white;
  border-radius: var(--rounded);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

@media screen and (max-width: 750px) {
  .card {
    width: 75vw;
    height: auto;
  }
}

.card p {
  font-size: .85rem;
}

@media screen and (max-width: 750px) {
  .card p {
    font-size: 1.25rem;
    line-height: 1.7;
  }
}

.card p:first-child::before {
  display: inline-block;
  content: "";
  width: 23px;
  height: 18px;
  margin: -10px -23px 19px 0;
  background-image: url("../images/icon-quotes.svg");
  background-repeat: no-repeat;
}

@media screen and (max-width: 750px) {
  .card p:first-child::before {
    margin-bottom: 2.0rem;
  }
}

.card p:nth-of-type(2n) {
  position: relative;
  left: 2.8rem;
  line-height: 1.2;
}

.card p:nth-of-type(2n) span {
  font-size: .6rem;
}

.card p:nth-of-type(2n)::before {
  position: absolute;
  left: -2.8rem;
  display: inline-block;
  content: "";
  width: 34px;
  height: 34px;
  background-image: url("../images/avatar-testimonial.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 16px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
}

@media screen and (max-width: 750px) {
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

form input {
  width: 300px;
  height: 45px;
  margin-right: 18px;
  padding: 0 20px;
  border-radius: 4px;
}

@media screen and (max-width: 750px) {
  form input {
    width: 100%;
    height: 80px;
    margin-right: 0;
    margin-bottom: 32px;
  }
}

form button {
  background-color: var(--accent__bright-blue);
  border: 1px solid var(--accent__bright-blue);
  width: 200px;
  height: 45px;
  border-radius: 4px;
  color: #fff;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  font-weight: 700;
  font-size: .9rem;
}

@media screen and (max-width: 750px) {
  form button {
    width: 100%;
    height: 80px;
    margin-bottom: 40px;
    font-size: calc(1.68rem - 20%);
  }
}

.early-access {
  max-width: 100vw;
  margin: 0 calc(-50vw + 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: var(--primary__desaturated-blue);
  padding: 100px 5rem;
}

@media screen and (max-width: 1440px) {
  .early-access {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 110px 50px;
    -webkit-transition: padding .3s ease-out;
    transition: padding .3s ease-out;
  }
}

.early-access h3,
.early-access p {
  color: #fff;
}

@media screen and (max-width: 1440px) {
  .early-access h3,
  .early-access p {
    text-align: center;
  }
}

.early-access h3 {
  margin-bottom: 2rem;
}

@media screen and (max-width: 1440px) {
  .early-access h3 {
    font-size: 2.25rem;
  }
}

.early-access p {
  margin-bottom: 3rem;
}

@media screen and (max-width: 1440px) {
  .early-access p {
    font-size: 1.5rem;
    max-width: 36ch;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 750px) {
  .early-access p {
    font-size: 1.8rem;
  }
}

.early-access form {
  margin: 0 10vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 750px) {
  .early-access form {
    width: 80%;
  }
}

.early-access form input {
  width: 32vw;
  margin-top: 12px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1440px) {
  .early-access form input {
    margin-top: 0;
  }
}

@media screen and (max-width: 750px) {
  .early-access form input {
    width: unset;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 26vmax auto;
      grid-template-rows: 26vmax auto;
  max-width: 100vw;
  margin: 0 calc(-50vw + 50%);
  padding: 110px 5rem 0 110px;
  background-color: var(--primary__vry-drk-blue);
}

@media screen and (max-width: 750px) {
  footer {
    padding: 110px 50px;
    -webkit-transition: padding .3s ease-out;
    transition: padding .3s ease-out;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
  }
}

footer ul,
footer li {
  line-height: 2.2;
  color: #fff;
}

@media screen and (max-width: 750px) {
  footer ul,
  footer li {
    font-size: calc(2vw + 1rem);
  }
}

footer ul a,
footer li a {
  text-decoration: none;
  color: #fff;
}

footer .col-1 img {
  width: 50%;
  height: auto;
  margin-bottom: 2rem;
}

@media screen and (max-width: 750px) {
  footer .col-1 img {
    margin-bottom: 4rem;
  }
}

footer .col-1 ul li {
  cursor: pointer;
  line-height: 2.5;
}

footer .col-1 ul li:first-of-type::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 27px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 7px;
  margin-bottom: -7px;
  background-image: url("../images/icon-phone.svg");
}

@media screen and (max-width: 750px) {
  footer .col-1 ul li:first-of-type::before {
    margin-bottom: 0;
  }
}

footer .col-1 ul li:nth-of-type(2n)::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 27px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 7px;
  margin-bottom: -7px;
  background-image: url("../images/icon-email.svg");
}

@media screen and (max-width: 750px) {
  footer .col-1 ul li:nth-of-type(2n) {
    margin-bottom: 0;
  }
}

footer .col-2,
footer .col-3,
footer .col-4 {
  margin-top: 4.5rem;
}

footer .col-4 ul li {
  display: inline-block;
  margin-right: 10px;
  padding: 3px 12px 0;
  border: 1px solid;
  border-radius: 24px;
}

@media screen and (max-width: 750px) {
  footer .col-4 ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 5px 21px 0;
    border: 1px solid;
    border-radius: 42px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }
}

footer .col-4 ul li:last-child {
  margin-right: 0;
}

footer .col-4 ul li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 749px) {
  footer section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 90vw 1fr;
        grid-template-columns: 1fr 90vw 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

.col-1,
.col-2,
.col-3,
.col-4 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 749px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

@media screen and (max-width: 749px) {
  .col-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .col-2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .col-3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .col-4 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 751px) and (max-width: 975px) {
  footer {
    overflow-y: auto;
    height: auto;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
  }
  footer section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    margin-bottom: 8rem;
  }
  .col-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .col-2 {
    grid-column: 3 / -1;
  }
  .col-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .col-3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 9;
    grid-column: 3 / 12;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

:root {
  --box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
  --rounded: 6px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 750px) {
  .attribution {
    -ms-grid-column-align: center;
        justify-self: center;
    max-width: 26ch;
    font-size: 1rem;
    text-align: center;
  }
}

.attribution a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted;
}
/*# sourceMappingURL=styles.css.map */