/* ========= Breakpoints ======= */
/* mobile:  375px  */
/* desktop: 1440px */

main {
  padding: 0 5rem;

  @media screen and (max-width: 750px) {
    padding: 0 50px;
    transition: padding .3s ease-out;
  }
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 86px;
  @include width-control;
  padding: 65px 80px;

  @media screen and (max-width: 750px) {
    padding: 45px 50px;
    transition: padding .3s ease-out;
  }

  img {
    width: 165px;
    height: auto;

    @media screen and (max-width: 750px) {
      width: 160px;
      transition: width .5s ease-out;
    }
  }

  ul {
    margin-left: auto;

    li {
      display: inline-block;
      margin-left: 50px;

      @media screen and (min-width: 676px) and (max-width: 750px) {
        font-size: 1.5rem;
        margin-left: 30px;
        transition: all .4s ease-out;
      }

      @media screen and (max-width: 675px) {
        margin-left: 25px;
        font-size: 1.0rem;
        transition: all .4s ease-out;
      }

      a {
        text-decoration: none;
        color: var(--text__color);

        &:hover {
          color: var(--accent__bright-blue);
        }
      }
    }
  }
}

// ========== hero =============
.hero {
  display: flex;
  align-items: center;

  margin-bottom: 175px;

  @media screen and (max-width: 1100px) {
    flex-direction: column;
    margin-top: 105px;
    margin-bottom: 25px;
  }

  section {
    flex: 1 1 auto;
    order: 1;
    max-width: 45vw;
    margin-right: 20px;

    @media screen and (max-width: 1100px) {
      order: 2;
      max-width: unset;
    }

    h1 {
      margin-top: 5rem;
      max-width: 22ch;
      margin-right: auto;
      margin-left: auto;
    }

    p {
      max-width: 59ch;

      @media screen and (max-width: 1100px) {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
  }

  img {
    flex: 1 0 auto;
    max-width: 50vw;
    order: 2;

    @media screen and (max-width: 1100px) {
      order: 1;
      max-width: 100%;
    }
  }

}

.curve {
  @include width-control;
}

.about__container {
  @include width-control;
}

.about__content {
  display: flex;
  align-items: center;

  background-color: var(--neutral__lite-grayish-blu);
  padding: 0 5rem;

  @media screen and (max-width: 1100px) {
    padding: 0 40px 100px 40px;
    transition: padding .3s ease-out;
    flex-direction: column;

    h1 {
      margin-bottom: 3rem;
    }
  }

  p {
    max-width: 58ch;

    @media screen and (max-width: 1100px) {
      max-width: unset;
      font-size: 1.7rem;
      color: var(--lrg-gryblu);
      margin-bottom: 35px;
    }

    a {
      color: var(--link-green);
      text-decoration: none;
      border-bottom: 1px solid;
      padding-bottom: .4rem;

      &::after {
        display: inline-block;
        content: "";
        width: 23px;
        height: 18px;
        margin-bottom: -2px;
        background-image: url('../images/icon-arrow.svg');
        background-repeat: no-repeat;
        background-position-x: 8px;
        background-position-y: 4px;
      }
    }
  }

  img {
    flex: 2;
    max-width: 45%;
    height: auto;
    margin-left: 20px;

    @media screen and (max-width: 1100px) {
      order: 1;
      max-width: 90%;
      padding: 5rem 0;
    }
  }
}

.content {
  flex: 1;
  max-width: 50%;
  padding-bottom: 110px;

  @media screen and (max-width: 1100px) {
    order: 2;
    max-width: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 2rem;
    }
  }
}

.card {
  width: 360px;
  height: 220px;
  padding: 35px;
  margin-top: 40px;
  background-color: white;
  border-radius: var(--rounded);
  box-shadow: var(--box-shadow);

  @media screen and (max-width: 750px) {
    width: 75vw;
    height: auto;
  }

  p {
    font-size: .85rem;

    @media screen and (max-width: 750px) {
      font-size: 1.25rem;
      line-height: 1.7;
    }

    &:first-child::before {
      display: inline-block;
      content: "";
      width: 23px;
      height: 18px;
      margin: -10px -23px 19px 0;
      background-image: url('../images/icon-quotes.svg');
      background-repeat: no-repeat;

      @media screen and (max-width: 750px) {
        margin-bottom: 2.0rem;
      }
    }

    &:nth-of-type(2n) {
      position: relative;
      left: 2.8rem;
      line-height: 1.2;

      span {
        font-size: .6rem;
      }

      &::before {
        position: absolute;
        left: -2.8rem;
        display: inline-block;
        content: "";
        width: 34px;
        height: 34px;

        background-image: url('../images/avatar-testimonial.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 16px;
      }
    }
  }
}

form {
  display: flex;
  margin-bottom: 120px;

  @media screen and (max-width: 750px) {
    flex-direction: column;
  }

  input {
    @include input;
  }

  button {
    @include bt;

    @media screen and (max-width: 750px) {
      width: 100%;
      height: 80px;
      margin-bottom: 40px;
      font-size: calc(1.68rem - 20%);
    }
  }
}

.early-access {
  @include width-control;
  display: flex;
  align-items: flex-start;
  background-color: var(--primary__desaturated-blue);
  padding: 100px 5rem;

  @media screen and (max-width: 1440px) {
    flex-direction: column;
    align-items: center;
    padding: 110px 50px;
    transition: padding .3s ease-out;
  }

  h3,
  p {
    color: #fff;

    @media screen and (max-width: 1440px) {
      text-align: center;
    }
  }

  h3 {
    margin-bottom: 2rem;

    @media screen and (max-width: 1440px) {
      font-size: 2.25rem;
    }
  }

  p {
    margin-bottom: 3rem;

    @media screen and (max-width: 1440px) {
      font-size: 1.5rem;
      max-width: 36ch;
      margin-right: auto;
      margin-left: auto;
    }

    @media screen and (max-width: 750px) {
      font-size: 1.8rem;
    }
  }

  form {
    margin: 0 10vw;
    flex-wrap: wrap;

    @media screen and (max-width: 750px) {
      width: 80%;
    }

    input {
      width: 32vw;
      margin-top: 12px;
      margin-bottom: 20px;

      @media screen and (max-width: 1440px) {
        margin-top: 0;
      }

      @media screen and (max-width: 750px) {
        width: unset;
      }
    }
  }
}

footer {
  display: grid;
  grid-template-rows: 26vmax auto;
  @include width-control;
  padding: 110px 5rem 0 110px;

  @media screen and (max-width: 750px) {
    padding: 110px 50px;
    transition: padding .3s ease-out;
    grid-template-rows: unset;
  }

  background-color: var(--primary__vry-drk-blue);

  ul,
  li {
    line-height: 2.2;
    color: #fff;

    @media screen and (max-width: 750px) {
      font-size: calc(2vw + 1rem);
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  .col-1 {
    img {
      width: 50%;
      height: auto;
      margin-bottom: 2rem;

      @media screen and (max-width: 750px) {
        margin-bottom: 4rem;
      }
    }

    ul {
      li {
        cursor: pointer;
        line-height: 2.5;

        &:first-of-type {
          &::before {
            @include contact-icons;
            background-image: url('../images/icon-phone.svg');

            @media screen and (max-width:750px) {
              margin-bottom: 0;
            }
          }
        }

        &:nth-of-type(2n) {
          &::before {
            @include contact-icons;
            background-image: url('../images/icon-email.svg');
          }

          @media screen and (max-width:750px) {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .col-2,
  .col-3,
  .col-4 {
    margin-top: 4.5rem;
  }

  .col-4 {
    ul li {
      display: inline-block;
      margin-right: 10px;
      padding: 3px 12px 0;
      border: 1px solid;
      border-radius: 24px;

      @media screen and (max-width: 750px) {
        display: inline-block;
        margin-right: 20px;
        padding: 5px 21px 0;
        border: 1px solid;
        border-radius: 42px;
        transition: all .3s ease-out;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: rgba(#ffffff, 0.3);
      }
    }
  }

  section {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 749px) {
      display: grid;
      grid-template-columns: 1fr 90vw 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
  }
}

.col-1,
.col-2,
.col-3,
.col-4 {
  flex-wrap: wrap;

  @media screen and (max-width: 749px) {
    grid-column: 1 / 3;
  }
}

@media screen and (max-width: 749px) {
  .col-1 {
    grid-row: 1 / 2;
  }

  .col-2 {
    grid-row: 2 / 3;
  }

  .col-3 {
    grid-row: 3 / 4;
  }

  .col-4 {
    grid-row: 4 / 5;
    margin-left: auto;
    margin-right: auto;
  }
}

// footer 2 col between 750 and 975
@media screen and (min-width: 751px) and (max-width: 975px) {
  footer {
    overflow-y: auto;
    height: auto;
    grid-template-rows: unset;

    section {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, auto);
      margin-bottom: 8rem;
    }
  }

  .col-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .col-2 {
    grid-column: 3 / -1;
  }

  // move social icons to left
  .col-4 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .col-3 {
    grid-column: 3 / 12;
    align-content: center;
  }


}