@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}
body, p, ul, li {
  font-size: 16px;;
  font-family: 'Open Sans', sans-serif;
}